
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Homemade+Apple&family=Kaushan+Script&family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');

*{
    /* margin: 0; */
    /* padding: 0; */
    /* font-family: "PT Serif", serif; */
     font-family: "Roboto Slab", serif;
     font-weight: bold;
}

html {
    scroll-behavior: smooth;
}  

body {
    margin: 60px auto;
    width: 80%;
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s; /* Safari */
}

a {
    text-decoration: none;
    color: #2874A6; 
}

nav {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 40px;
    gap: 50px;
}

.name-all {
    display: flex;
    flex-direction: row;
}

.nav-name a {
    display: flex;
    width: 100%;
    font-size: 1.9em;
    font-family: 'Helvetica';
    text-align: center;
    /* padding-top: 6px; */
    padding-left: 25px;
    padding-right: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #000;
    transition: 0.9s;
}

.nav-name a:hover {
    color: #0c00b6;
    transform: scale(1.02);
    transition: 0.3s;
}

/* .nav-name-bengali a {
    font-family: "Noto Serif Bengali", system-ui;
    font-weight: bold;
    font-size: 1.99em;
    text-align:center;
} */

/* .nav-name, .nav-name-bengali {
    transition: opacity 0.5s linear;
    grid-row: 1;
    grid-column: 1;
} */

/* .wrap:hover .nav-name {
    opacity: 0;
}
.wrap:hover .nav-name-bengali {
    opacity: 1;
} */

.nav-name-details {
    display: flex;
    padding-left: 15px;
    text-align: center;
}

.nav-name-details i {
    font-size: 2.3em;
}

.nav-name-details a {
    /* transition: 0.8s; */
    transition: color 0.4s, transform 0.3s;
}

.nav-name-details a:hover {
    /* transform: rotateX(360deg) scale(1.3); */
    /* transform: scale(1.1); */
    /* transition: 0.6s; */
    color: purple;
}

.nav-name-details a.active {
    color: purple; /* Color when active (clicked) */
    transform: scale(1.1); /* Slightly enlarge the icon */
}

#info-icon {
    cursor: pointer; /* Change cursor to pointer on hover */
}

.info-box {
    /* display: none; Hidden by default */
    visibility: hidden;
    opacity: 0; /* Start with invisible */
    /* transform: translateY(-10px); Start slightly above */
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.5s ease; /* Smooth transition */
    width: auto;
    text-align: left;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it appears above other elements */
    margin-left: 60px; /* Space between icon and info box */
    /* transform: translateY(-30px); */
    /* transition: 0.5s; */
    transform: translateY(-5px) translateX(-15px);
}

.info-box.show {
    /* display: block; Change to block to allow opacity to take effect */
    visibility: visible;
    opacity: 1; /* Make it fully visible */
    transform: translateY(-5px); /* Move it back to its original position */
}

.info-box ul {
    padding-left: 10px; /* Reduce left padding for bullets */
    margin: 5px; /* Remove default margin */
}

.info-box li {
    margin-bottom: 5px; /* Space between bullets */
}

.fa-language {
    position: absolute;
    transform: translateY(50%);
    /* transition: 0.4s; */
}

#name-pronunciation {
    color: blue;
}

#name-bengali {
    font-family: "Noto Serif Bengali", system-ui;
    color: brown;
}

.nav-links {
    flex: 1;
    text-align: right;
    padding-right: 10px;
    /* border: 2px solid #3d3c3c; */
    /* border-radius: 10px / 10px; */
}

.nav-links ul li {
    list-style: none;
    font-size: 1.1em;
    font-weight: bold;
    color: #440000;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
    margin: auto;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #f44336;
    display: block;
    margin: auto;
    /* transform: scale(1.1); */
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
    /* transform: scale(1.1); */
    background: #f44336;
}

.navbar-element {
    color: #7d0000;
}

/* .navbar-element:hover {
    transform: scale(1.4);
} */

/* a:hover {
    text-decoration: underline;
} */

A.class1 {color:#2874A6;}
A.class1:link  {text-decoration: none; color: #2874A6;}
A.class1:visited {text-decoration: none; color: #2874A6;}
A.class1:hover {text-decoration: underline; color: #2874A6;}
A.class1:active {text-decoration: none; color: #2874A6;}


A.class2 {color:#2874A6;}
A.class2:link {text-decoration: none; color: #2874A6;}
A.class2:visited {text-decoration: none; color: #2874A6;}
A.class2:hover {text-decoration: underline; color: #2874A6;}
A.class2:active {text-decoration: none; color: #2874A6;}

h1 {
    margin-top:16px;
    font-size: 1.8em;
    font-family:'Helvetica'; 
    margin-bottom:16px;
}

h2 {
    font-size: 1.4em;
    font-family: 'Helvetica' , 'Avenir', 'Sans-Serif';
    white-space: pre;
}

/* h3 {
    font-size: 1.2em;
    font-family: 'Helvetica' , 'Sans-Serif', 'Avenir';
    font-weight: 550
} */

h4 {
    font-size: 1em;
    font-family: 'Helvetica' , 'Sans-Serif', 'Avenir';
    font-weight: normal;
}

h5 {
    font-size: 1em;
    font-family: 'Helvetica' , 'Sans-Serif', 'Avenir';
    font-weight: 500;
    text-align: left;
}
h6 {
    font-size: 1em;
    font-family: 'Helvetica' , 'Sans-Serif', 'Avenir';
    font-weight: normal;
    text-align: center;
}

p {
    /* font-family: 'Helvetica' , 'Sans-Serif', 'Avenir'; */
    /*font-family: "Times New Roman", Times, serif;*/
    font-family: "Roboto Slab", serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.5em;
    color: #333;
}

.container {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    margin: 0px; /* Add some margin around the container */
    margin-bottom: 60px;
    gap: 15px;
}

/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
} */

.photo-and-icons {
    display: flex;
    /* float: left; */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    max-width: 35%; /* Set a fixed width for the photo-and-icons section */
    flex-shrink: 0; /* Prevents the section from shrinking */
    margin: 5px;
    margin-bottom: 10px;
    /* flex: 1; */
}

.photo {
    /* margin: auto; */
    display: block;
    position: relative;
}

.profile_image {
    display: block;
    margin: 0 auto; /* Center image horizontally within its container */
    border-radius: 10%;
    width: 80%; /* Allow image to fill its container */
    max-width: 370px;
    min-width: 200px;
    height: auto;
    transform: scale(0.95);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /* flex-shrink: 0.2; */
}

/* .blur-image {
    width: 95%;
    margin: 0 auto;;
    position: absolute;
    bottom: 0px;
    top: 0px;
    box-shadow: inset 10px 10px 10px 10px rgb(239, 50, 50);
} */

/* Style for the social icons container */
.social-icons {
    display: flex;
    /* aspect-ratio: 1 / 1; */
    justify-content: center; /* Center the icons */
    margin: 0px; /* Adds space between image and icons */
    padding-top: 2px;
    padding-bottom: 2px;
    transform: scale(0.85);
    flex-shrink: 0.5;
}

.social-icons a {
    width: 50px;
    height: auto;
    aspect-ratio : 1 / 1;
    margin: 0 0px; /* Space between the icons */
    /* font-size: 0px; Size of the icons */
    color: #333; /* Default color */
    border: 2px solid #5cb6f3;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    margin: 0 15px;
    border-radius: 30%;
    /* position: relative; */
    position: sticky;
    overflow: hidden;
    transition: 0.4s;
    /* flex-shrink: 0.1; */
    /* cursor: pointer; */
}

.social-icons a .fab, .social-icons a .ai, .social-icons a .fas {
    font-size: 170%;
    line-height: 50px;
    position: relative;
    z-index: 10;
    transition: color 0.1s;
}

.social-icons a::after{
    content: '';
    width: 100%;
    /* height: 100%; */
    aspect-ratio : 1 / 1;
    top: -90px;
    /* bottom: 90px; */
    left: 0;
    background: linear-gradient(-45deg, #de7b01, #1908ff);
    position: absolute;
    transition: 0.2s fade-in-out;
}

.social-icons a:hover::after {
    top: 0;
}

.social-icons a:hover .fab, .social-icons a:hover .ai, .social-icons a:hover .fas {
    color: #fff;
}

.social-icons a:hover {
    /* transform: translateY(10px); */
    transform: scale(1.3) rotate(360deg);
    border-radius: 50%;
}

.text-content {
    /* font-family: "Roboto Slab", serif; */
    /* margin-top: 20px; */
    margin-right: 30px;
    padding-top: 0px;
    padding-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 0.8; /* Allow text content to take up remaining space */
    text-align: justify;
    /* text-justify: inter-word; */
    text-justify: newspaper;
    /* text-justify: distribute-all-lines; */
}

.gt-fellowship::before {
    transition: 2s;
}

.gt-fellowship:hover { 
    /* text-shadow: 0 2px 40px #bbff68; */
    text-shadow: 0 5px 40px #ffff00;
    transition: 0.8s ease-in;
}

.collaborator {
    color: rgb(159, 68, 4);
}

.visitor {
    /* display: flex; */
    text-align: center;
    transform: scale(0.8);
    margin-bottom: -60px;
}

/* .visitor a {
    display: inline-block;
    text-align: center;
    align-items: center;
    vertical-align: middle;
} */


/* FOOTER */

footer {
    /* position: fixed;
    width: 80%;
    text-align: center; */
    margin-top: 70px;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    color: #999999;
    font-weight:lighter;
}

.footer {
    font-family: 'Helvetica' , 'Sans-Serif', 'Avenir';
    font-weight: bold;
    color: #1b4f73;
    padding-top: 8px;
    margin-bottom: 17px;
    display: flex;
    justify-content: center;
}

section .menu-open {
    display: none;
}

nav .fa-xmark {
    display: none;
}

nav .fa-bars {
    display: none;
}

.under-construction p {
    text-align: center;
    font-family: "Kaushan Script", cursive;
    /* font-family: "Homemade Apple", cursive; */
    /* font-family: "Almendra", serif; */
    /* font-family: "Marck Script", cursive; */
    font-size: 1.5em;
    font-weight: 550;
}


@media(max-width: 900px){
    
    body {
        width: 100%;
        /* overflow: hidden; */
        overflow-x: hidden;
    }

    p {
        font-size: 12px;
    }
    
    nav .fa-xmark {
        display: block;
        cursor: pointer;
        scale: 1.3;
        /* text-align: right; */
        margin-top: 20px;
        margin-left: 40px;
        /* padding-right: 10px; */
    }

    nav .fa-bars {
        display: inline-block;
        margin: auto;
        margin-right: 7%;
        padding-top: 1px;
        right: 0;
        /* padding-right: 22px; */
        overflow: hidden;
        transform: scale(1.1);
    }

    nav {
        /* display: flex;
        flex-direction: row; */
        /* position: relative; */
        align-items: right;
        padding-top: 0px;
        padding-bottom: 10px;
        margin-bottom: 5px;
    }

    .nav-name {
        display: block;
        position: sticky;
        width: 100%;
        text-align: left;
    }

    .nav-name a {
        font-size: 1.3em;
        text-align: left;
    }

    .nav-name-details i {
        display: none;
        font-size: 1.3em;
    }

    .fa-language {
        transform: translateY(100%);
    }

    .nav-links {
        position: absolute;
        /* background: green; */
        backdrop-filter: blur(40px);
        opacity: 100%;
        /* height: 100%; */
        height: 150vh;
        width: 180px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.4s ease-in;
        /* overflow-y: hidden; */
    }

    .nav-links ul {
        margin-top: 60px;
    }

    .nav-links ul li {
        display: block;
        margin-top: 5px;
    }

    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 3px;
        background: none;
        display: block;
        margin: auto;
        /* transform: scale(1.1); */
        /* transition: 0.3s ease-out; */
    }
    
    .nav-links ul li:hover::after {
        width: 100%;
        background: none;
    }

    .navbar-element {
        color: black;
    }

    .container{
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 0;
    }

    .photo-and-icons {
        display: flex;
        flex-direction: column; /* Stack children vertically */
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 100%; /* Set a fixed width for the photo-and-icons */
        /* aspect-ratio: 1 / 1; */
        flex-shrink: 0; /* Prevents the section from shrinking */
        margin: 5px;
        margin-bottom: -30px;
        scale: 0.8;
        /* flex: 1; */
    }

    .social-icons {
        transform: scale(0.7);
    }

    .social-icons a:hover {
        /* transform: translateY(10px); */
        transform: none;
        border-radius: 50%;
    }

    .text-content {
        /* font-family: "Roboto Slab", serif; */
        /* margin-top: 20px; */
        font-size: 11px;
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 5px;
        padding-bottom: auto;
        padding-left: 10px;
        padding-right: 10px;
        flex-grow: 0.8; /* Allow text content to take up remaining space */
        text-align: justify;
        text-justify: distribute-all-lines;
    }

    .visitor {
        /* display: flex; */
        text-align: center;
    }

    .footer {
        font-size: 0.45em;
    }
}


/* AUTHORS & PUBLICATIONS */

.publication-content {
    /* font-family: "Roboto Slab", serif; */
    /* margin-top: 20px; */
    /* margin-right: 30px; */
    margin-left: 15px;
    padding-top: 0px;
    padding-bottom: auto;
    padding-left: 15px;
    /* padding-right: 20px; */
    flex-grow: 0.8; /* Allow text content to take up remaining space */
}

ol > li::marker {
    color: black;
}

.publication-card {
    border: 1px solid #ccc; /* border color */
    border-radius: 8px; /* rounded corners */
    padding: 5px; /* Padding around the card */
    padding-left: 22px; /* Increase left padding specifically */
    margin: 10px 0; /* spacing between cards */
    margin-left: 8px;
    margin-right: 20px;
    background-color: #f9f9f9; /* background color */
}

.publication-card h3 {
    color: #333;
    margin: 6px 0; /* Set margin to 10px above and below title */
}

.publication-authors {
    font-size: 1rem;
    color: #555;
}

.author-list {
    margin: 5px 0; /* Decrease gap above and below authors */
    margin-bottom: 6px;
}

.author-list a {
    color: #005eff;
    text-decoration: none;
    flex-shrink: 0;
}

.publication-venue {
    font-size: 0.9rem;
    color: #777;
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic; /* Italics for emphasis */
}

.publication-access {
    margin-top: 5px;
    margin-bottom: 5px;
    /* font-size: 1rem; Match author list font size */
    color: #333;
}

.publication-access a {
    color: #007BFF;
    text-decoration: none;
    font-weight: normal;
    /* font-size: 0.9rem; */
    font-weight: 500;
    color: rgb(1, 102, 1);
    text-decoration: underline dotted; 
    text-underline-position: under;
}

.publication-access strong {
    font-weight: bolder;
    color: #333; /* Bold and black color for the word "Access:" */
}

#published {
    margin-bottom: 20px;
    margin-left: 10px;
}

#unpublished {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
}


@media(max-width: 900px){

    .publication-content {
        /* margin-left: 5px; */
        flex-shrink: 0.8;
    }

    .publication-content h2 {
        font-size: 1.0em;
    }

    .reverse-numbering {
        margin-left: -20px;
    }

    .publication-card {
        padding-left: 12px; /* Increase left padding specifically */
        margin-left: 4px;
    }
    .publication-card h3 {
        font-size: 0.85em;
        margin: 8px 0; /* Set margin to 10px above and below title */
    }

    .publication-venue {
        font-size: 0.7em;
    }

}
